{% extends "base.twig" %}

{% block title %}Tan, Johan & Evan{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="loader">Chargement...</div>
    {% for column in columns %}
    <div class="column">
        {% for picture in column %}
        <div class="item">
            <img src="pictures/{{picture.file}}" alt="{{picture.file}}" id="{{picture.id}}" class="wall" />
            {% if picture.date %}
                <h3>{{picture.date|date("d M Y")}}</h3>
            {% endif %}
            {% if picture.description %}
                <h2>{{picture.description}}</h2>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}

{% endblock %}