<div class="item">
    <img src="/pictures/m_{{unbound file}}" alt="{{unbound file}}" id="{{unbound id}}" class="wall" />
{{#if date}}
    <span class="date">{{format-date date}}</span>
{{/if}}
{{#if comments}}
    <span class="nb-comments">{{comments.length}}</span>
{{/if}}
{{#if description}}
    <span class="description">{{description}}</span>
{{/if}}
</div>