<img src="/pictures/m_{{file}}" alt="{{file}}" id="{{id}}" class="wall" />
{{#if date}}
    <span class="date">{{formatDate date labels.dateFormat}}</span>
{{/if}}
{{#if comments}}
    <span class="nb-comments">{{comments.length}}</span>
{{/if}}
{{#if description}}
    <span class="description">{{description}}</span>
{{/if}}