<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">{{labels.uploadVideoTitle}}</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" method="post" action="">
        <div class="videos">
        {{#each formats}}
            <div class="upload-video">
                <label for="video-{{this.ext}}-datetime">{{this.label}}</label>
                <input type="date" name="video-{{this.ext}}-date" placeholder="Date de la vidéo (ex: 2015/05/12)" />
                <input type="text" name="video-{{this.ext}}" id="video-{{this.ext}}" placeholder="{{this.placeholder}}" />
            </div>
        {{/each}}
        </div>
        <div class="control-group">
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">{{labels.cancel}}</button>
            <button type="submit" class="btn btn-success"><i class="icon-ok icon-white"></i> {{labels.uploadVideo}}</button>
        </div>
    </form>
</div>