<a href="/"><img src="/css/logo_m.png" alt="Logo" /></a>
<span>{{formatDay date}} :</span>
<span class="description">
{{#if description}}
    {{description}}
{{else}}
    {{file}}
{{/if}}
</span>
<button>{{i18n.addComment}}</button>