<a href="/" class="brand">
    <img src="/img/logo_m.png" alt="Logo" />
</a>
<span class="date">{{formatDate item.date labels.dateFormat}}</span>
<span class="date short">{{formatDate item.date labels.shortDateFormat}}</span>
<span class="description">
{{#if item.description}}&nbsp;: {{item.description}} {{else}}
    {{#if admin}}&nbsp;: {{labels.addDescription}} {{/if}}
{{/if}}
</span>
<span class="likes">
{{#unlessequals item.likes '0'}}
    {{item.likes}}
{{/unlessequals}}
    {{#if liked}}<i class="icon-heart"></i>{{else}}<i class="icon-heart-empty"></i>{{/if}}
</span>
{{#if admin}}<span class="delete">{{labels.deletePicture}}</span>{{/if}}
