<div>
    <header>
        <h2>S'identifier</h2>
        <button class="icon" title="Fermer" id="modalClose"><i class="icon-close"></i></button>
    </header>
    <section>
        <form class="horizontal">
            <div class="form-field">
                <label class="form-field-label" for="email">{{labels.email}}</label>
                <input type="email" name="email" id="email" value="" placeholder="{{labels.email}}">
            </div>
            <div class="form-field">
                <label class="form-field-label" for="password">{{labels.password}}</label>
                <input type="password" name="password" id="password" value="" placeholder="{{labels.password}}">
            </div>
        </form>
    </section>
    <footer>
        <button id="modalCancel">{{labels.cancel}}</button>
        <button id="modalSubmit" class="primary">{{labels.validate}}</button>
    </footer>
</div>
