<img src="/pictures/{{model.filename}}--640.{{model.extension}}"
     alt="{{model.filename}}" id="{{model.id}}" class="wall"
     srcset="/pictures/{{model.filename}}--320.{{model.extension}} 320w,
             /pictures/{{model.filename}}--640.{{model.extension}} 640w,
             /pictures/{{model.filename}}--1024.{{model.extension}} 1024w,
             /pictures/{{model.filename}}--1600.{{model.extension}} 1600w,
             /pictures/{{model.file}} 2048w"
     sizes="{{#if model.srcWidth}}{{model.srcWidth}}vw{{else}}(max-width: 160px) 99vw, (max-width: 320px) 50vw, 33.33vw{{/if}}"
     {{#if model.width}} width="{{model.width}}"{{/if}}{{#if model.height}} height="{{model.height}}"{{/if}} />
{{#if model.date}}
    <span class="date">{{formatDate model.date labels.dateFormat}}</span>
{{/if}}
{{#if model.comments}}
    <span class="nb-comments">{{model.comments.length}} <i class="icon-comment"></i></span>
{{/if}}
{{#if model.description}}
    <span class="description">{{model.description}}</span>
{{/if}}
