<div>
    <header>
        <h2>{{labels.uploadTitle}}</h2>
        <button class="icon" title="Fermer" id="modalClose"><i class="icon-close"></i></button>
    </header>
    <section>
        <form class="pictures">
        {{#each pictures}}
            <div class="upload-image">
                <div class="upload-image-zone">
                    <img src="{{this.data}}" alt="{{this.filename}}"/>
                </div>
                <input type="text" name="description-{{this.id}}" placeholder="{{../labels.enterDescription}}"/>
            </div>
        {{/each}}
        </form>
    </section>
    <footer>
        <button id="modalCancel">{{labels.cancel}}</button>
        <button id="modalSubmit" class="primary">{{labels.uploadPictures}}</button>
    </footer>
</div>
